* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html, body { height: 100%; }

html {
	background-color: #111;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	font-family: Roboto, "Segoe UI", Arial, sans-serif;

	max-width: 1024px;
	min-height: 100%;
	background-color: #EEE;
	margin: 0px auto;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translate3d(0px, 0px, 0px);
}

[data-role=page] { display: none; }


/* =================== */
/* ====== PAGES ====== */
/* =================== */

body[data-page=page-practice] {
	background-image: linear-gradient(0deg, #666, #CCC);
}

body[data-page=page-practice] [data-role=menubar] {
	border-bottom: 5px solid #333;
}

body[data-page=page-practice] [data-role=content] {
	background: transparent;
}


/* =========================== */
/* ====== SPLASH SCREEN ====== */
/* =========================== */

#splash-screen {
	width: 100%;
	height: 100%;
	
	position: absolute;
	left: 0px; top: 0px;
	z-index: 99;

	background-color: #333;
	background-image: url("../img/logo-splash-sreen.png");
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
}


/* ===================== */
/* ====== MENUBAR ====== */
/* ===================== */

[data-role=menubar] {
	color: #FFF;
	height: 80px;
	background-color: #069;
	display: table;
	width: 100%;
	position: relative;
	border-bottom: 2px solid #000;
}

[data-role=menubar] .logo {
	margin-top: 15px;
	margin-left: 15px;
}

[data-role=menubar] .title {
	color: #FFF;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
	font-size: 2em;
	font-weight: 300;

	position: absolute;
	top: 24px; left: 75px;
}

[data-role=menubar] .actions {
	display: inline-block;
	float: right;
}

[data-role=menubar] .action {
	color: #FFF;
	float: right;
	width: 30px;
	height: 30px;
	padding: 15px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 2px;
	background-color: #047;
	text-align: center;
	cursor: pointer;
	text-decoration: none;

	position: relative;
	z-index: 2;
}

[data-role=menubar] .action:hover {
	background-color: #025;
}


/* ================== */
/* ====== TABS ====== */
/* ================== */

[data-role=tabs] {
	display: table;
	text-align: center;
	width: 100%;
	table-layout: fixed;
	position: relative;
	z-index: 3;
}

[data-role=tabs] .fa { margin-right: 5px; }

[data-role=tabs] .tab {
	color: #999;
	font-weight: 300;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1.5em;

	background-color: #111;
	border-bottom: 5px solid #999;
	cursor: pointer;
	text-decoration: none;
}

[data-role=tabs] .tab:hover {
	color: #CCC;
}

[data-role=tabs] .tab.active {
	color: #FFF;
	border-bottom-color: #09C;
}


/* ===================== */
/* ====== CONTENT ====== */
/* ===================== */

[data-role=content] {
	color: #333;
	padding: 50px;
	background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	text-shadow: 0px 1px #FFF;
}

a { color: #039; }
ul { margin-left: 20px; }
li { padding-bottom: 5px; }

hr {
	height: 0px;
	border: 0px;
	border-bottom: 2px solid #DDD;
	margin: 20px 0px 40px 0px;
	clear: both;
}

hr.transparent {
	height: 10px;
	border: 0px;
}

label {
	background-color: #E3E3E3;
	padding: 20px;
	display: block;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 5px;
}

label:hover { background-color: #DDD; }

label span::before {
	color: inherit;
	font-family: FontAwesome;
	content: "\f096";
	width: 20px;
	display: inline-block;
}

label input { display: none; }
label input:checked + span::before {
	content: "\f046";
	margin-left: 2px;
	margin-right: -2px;
}

textarea {
	color: #666;
	font-family: inherit;

	width: 100%;
	padding: 10px;
	border: 0px;
	
	box-sizing: border-box;
	background-color: #FAFAFA;
	resize: none;
}

.button {
	color: #333;
	font-weight: bold;;
	text-align: center;
	padding: 10px 20px;
	
	border-radius: 2px;
	border: 1px solid #CCC;
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background-color: #DDD;
	
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

.button.stretch { width: 100%; }

.button.big {
	padding: 20px;
	font-size: 1.2em;
}

.button.green {
	color: #FFF;
	border: 1px solid #0C0;
	background-color: #3D3;
}


.button.red {
	color: #FFF;
	border: 1px solid #C00;
	background-color: #D33;
}

.button.green:hover { background-color: #0D0; border: 1px solid #090; }
.button.red:hover { background-color: #D00; border: 1px solid #900; }
.button:hover { background-color: #CCC; }


/* ==================== */
/* ====== STACKS ====== */
/* ==================== */

#stacks {
	margin-left: 0px;
	list-style: none;
	border-bottom: 0px;
}

#stacks li {
	color: #666;
	padding: 20px;
	margin: 10px 0px;

	border-left: 5px solid #BBB;
	box-shadow: inset 0px -2px #CCC;

	border-radius: 2px;
	background-color: #DDD;
	cursor: pointer;
}

#stacks li:hover {
	color: #333;
	background-color: #CCC;
	box-shadow: inset 0px -2px #BBB;
}

#stacks li .fa-arrow-right { float: right; color: #999; }
#stacks li:hover .fa-arrow-right { color: #666; }

#stacks li:first-child { margin-top: 0px; }
#stacks li:last-child { margin-bottom: 0px; }

#stacks li .count {
	float: right;
	font-size: 0.8em;
	margin-right: 10px;
}


/* =================== */
/* ====== STACK ====== */
/* =================== */

#flashcards {
	width: 100%;
	border-spacing: 0px;
	display: none;
	border: 5px solid #036;
}

#flashcards th {
	color: #FFF;
	background-color: #069;
	text-align: left;
	padding: 0px 20px;

	box-shadow: inset 0px 2px #09c;
	border-bottom: 5px solid #CCC;
}

#flashcards tr:last-child td {
	border-bottom: 0px;
}

#flashcards th:first-child,
#flashcards td:first-child {
	padding: 0px;
	text-align: center;
}

#flashcards th label {
	margin: 0px;
}

#flashcards td {
	color: #666;
	background-color: #EEE;
	padding: 10px 20px;
}

#flashcards tr:nth-child(odd) td {
	background-color: #F6F6F6;
}

#flashcards label { background: transparent; }

.note { display: none; }
#page-stack [data-role=content] .actions {
	width: 100%;
	table-layout: fixed;
	border: 5px solid #036;
	background-color: #036;
	border-top: 0px;
	border-spacing: 0px;
	display: none;
}

#page-stack [data-role=content] .actions td { padding: 0px 2px; }
#page-stack [data-role=content] .actions td:first-child { padding-left: 0px; }
#page-stack [data-role=content] .actions td:last-child { padding-right: 0px; }

#page-stack [data-role=content] .actions td .button {
	color: #FFF;
	border: 0px;

	border-top: 2px solid #09c;

	background-color: #069;
	box-shadow: none;
}

#page-stack [data-role=content] .actions td .button:hover {
	background-color: #09c;
	border-color: #0cf;
}

#page-stack [data-role=content] .actions td .button .fa { margin-right: 5px; }

/* ======================= */
/* ====== FLASHCARD ====== */
/* ======================= */

#flashcard {
	perspective: 500px;
	position: relative;
	width: 100%;
}

#flashcard-shadow {
	content: " ";

	margin-top: 10%;
	margin-left: 10%;
	
	width: 80%;
	height: 40px;

	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.1;
}

#flashcard > div {

	color: #666;
	font-size: 3em;
	font-weight: bold;
	text-align: center;

	text-shadow: -1px  0px 0px #FFF,
			      1px  0px 0px #FFF,
			      0px -1px 0px #FFF,
			      0px  1px 0px #FFF,
			     -1px -1px 0px #FFF,
			      1px -1px 0px #FFF,
			     -1px  1px 0px #FFF,
			      1px  1px 0px #FFF;

	padding: 10% 10%;
	width:  80%;
	
	border: 1px solid #DDD;
	border-radius: 1px;

	background-color: #FFF; 
	background-image: 
		linear-gradient(90deg, transparent 50px, #abced4 50px, #abced4 60px, transparent 60px),
		linear-gradient(#F6F6F6 .1em, transparent .1em);
	background-size: 100% 0.8em;

	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	backface-visibility: hidden;
	cursor: pointer;
}

#flashcard .front {
	transform: rotateX(5deg);
}

#flashcard .back {
	position: absolute;
	top: 0px;
	transform: rotateX(180deg);
}

#page-flashcard-new textarea,
#page-flashcard-edit textarea {
	height: 4em;
	font-size: 2em;
	text-align: center;
	padding: 40px;
}

#practice-buttons {
	position: absolute;
	bottom: 0px; left: 0px;

	display: table;
	border-spacing: 1em;
	width: 100%;
	table-layout: fixed;
}

#practice-buttons .button {
	font-weight: bold;
	font-size: 1.5em;
	padding: 15px 0px;
	display: table-cell;
}


/* ====================== */
/* ====== SETTINGS ====== */
/* ====================== */

#import {
	position: relative;
	z-index: 0;
}

#import input {
	position: absolute;
	top: 0px; left: 0px;

	width: 100%;
	height: 100%;

	z-index: 1;
	opacity: 0;
}

#file-browser {
	margin: 0px;
	list-style: none;
}

#file-browser li {
	color: #666;
	background-color: #DDD;
	padding: 20px;
	cursor: pointer;

	border: 2px solid #CCC;
	border-top: 0px;
	box-shadow: inset 0px 2px #EEE;
}

#file-browser li:hover { background-color: #CCC; }
#file-browser li:first-child { margin-top: 0px; border-top: 2px solid #CCC; }
#file-browser li:last-child { margin-bottom: 0px; }

#page-file-browser .path {
	font-style: italic;
}

#page-stack-settings table {
	width: 100%;
	border-spacing: 0px;
	table-layout: fixed;
	text-align: center;
}

#page-stack-settings table .fa {
	color: #999;
	padding-bottom: 15px;
}

#page-stack-settings .languages {
	padding: 10px;
	width: 100%;
	height: 50px;
	font-weight: bold;
	color: #666;
	background-color: #FFF;
	border: 2px solid #E0E0E0;
	border-radius: 3px;
}



/* =========================== */
/* ====== MEDIA QUERIES ====== */
/* =========================== */

@media only screen and (orientation : portrait) and (max-width : 600px) {
	
	hr {
		margin: 10px 0px 20px 0px;
	}

	#flashcard > div {
		font-size: 2em;
	}

	[data-role=menubar] {
		border-top: 2px solid #000;
		border-bottom: 0px;
	}

	[data-role=menubar] .actions {
		display: table;
		float: none;
		table-layout: fixed;
		width: 100%;
		margin-top: 10px;
		border-spacing: 10px;
		background-color: #111;
	}

	[data-role=menubar] .action {
		display: table-cell;
		margin: 0px;
		text-align: center;
		padding: 20px 0px;
		float: none;
		border-radius: 0px;
		background-color: #333;
	}

	[data-role=menubar] .action:hover { background-color: #444; }

	[data-role=tabs] .fa {
		font-size: 1.4em;
	}

	[data-role=content]  {
		font-size: 0.9em;
		padding: 30px;
	}

	.button.big {
		padding: 15px 10px;
	}

	.stack-name {
		font-size: 1.5em;
	}

	#practice {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.tab-name {
		display: none;
	}

	#flashcards,
	#page-stack [data-role=content] .actions {
		border-spacing: 0px;
	}
	
	#page-stack [data-role=content] .actions td {
		float: left;
		width: 100%;
		padding: 10px 0px;
	}

	#stacks .count { display: none; }

	#page-stack [data-role=content] .actions td:first-child { padding-top: 0px; }
	#page-stack [data-role=content] .actions td:last-child { padding-bottom: 0px; }
}