* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html {
	background-color: #056;
	overflow-y: scroll;
	height: 100%;

	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}

body {
	font-family: Roboto, "Segoe UI", Arial, sans-serif;

	background-color: #EEE;
	margin: 0px auto;

	min-height: 100%;
	max-width: 800px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* =================== */
/* ====== PAGES ====== */
/* =================== */

.page { display: none; }

html[data-page=page-practice] .content {
	padding-top: 20%;
}

html[data-page=page-practice] body {
	background-image: linear-gradient(0deg, #036, #023);
	position: relative;
}

html[data-page=page-practice] .menubar body {
	border-bottom: 5px solid #333;
}

html[data-page=page-stack] .content {
	padding-bottom: 0px;
}

html[data-page=page-practice] .content {
	background: transparent;
}


/* =========================== */
/* ====== SPLASH SCREEN ====== */
/* =========================== */

/*#splash-screen {
	width: 100%;
	height: 100%;
	
	position: absolute;
	left: 0px; top: 0px;
	z-index: 99;

	background-color: #333;
	background-image: url("../img/logo-splash-sreen.png");
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
}
*/

/* ===================== */
/* ====== MENUBAR ====== */
/* ===================== */

.menubar {
	color: #FFF;
	height: 80px;
	background-color: #059;
	display: table;
	width: 100%;
	border-bottom: 2px solid #000;
}

.menubar .logo {
	margin-top: 15px;
	margin-left: 15px;
}

.menubar > .title {
	color: #FFF;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	font-size: 2em;
	font-weight: 300;

	position: relative;
	top: -5px; left: 10px;
}

.menubar .actions {
	display: inline-block;
	float: right;
}

.menubar .action {
	color: #FFF;
	text-align: center;
	text-decoration: none;

	width: 30px;
	height: 30px;

	padding: 15px;
	margin-top: 10px;
	margin-right: 10px;

	border-radius: 2px;
	background-color: #024;
	border-bottom: 2px solid #07A;

	float: right;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.menubar .action:hover { background-color: #013; }
.menubar .action .title { display: none; }

.menubar .button-android-menu {
	background-color: transparent;
	border: 0px;
	display: none;
}

/* ================== */
/* ====== TABS ====== */
/* ================== */

.tabs {
	display: table;
	text-align: center;
	width: 100%;
	table-layout: fixed;
	position: relative;
	z-index: 3;
}

.tabs .fa { margin-right: 5px; }

.tabs .tab {
	color: #999;
	font-weight: 300;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1.5em;

	background-color: #111;
	border-bottom: 5px solid #999;
	cursor: pointer;
	text-decoration: none;
}

.tabs .tab:hover {
	color: #CCC;
}

.tabs .tab.active {
	color: #FFF;
	border-bottom-color: #09C;
}


/* ===================== */
/* ====== CONTENT ====== */
/* ===================== */

.content {
	color: #333;
	padding: 50px;
	font-weight: 500;
	background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

a { color: #039; }
ul { margin-left: 20px; }
li { padding-bottom: 5px; }

hr {
	height: 0px;
	border: 0px;
	border-bottom: 5px solid #DDD;
	margin: 10px 0px 40px 0px;
	clear: both;
}

hr.transparent {
	height: 10px;
	border: 0px;
}

label {
	background-color: #E3E3E3;
	padding: 20px;
	display: block;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 5px;
}

label:hover { background-color: #DDD; }

label span::before {
	color: inherit;
	font-family: FontAwesome;
	content: "\f096";
	width: 20px;
	display: inline-block;
}

label input { display: none; }
label input:checked + span::before {
	content: "\f046";
	margin-left: 2px;
	margin-right: -2px;
}

textarea {
	color: #666;
	font-family: inherit;

	width: 100%;
	padding: 10px;
	border: 0px;
	
	box-sizing: border-box;
	background-color: #FAFAFA;
	resize: none;
}

.button {
	color: #333;
	font-weight: bold;;
	text-align: center;
	padding: 10px 20px;
	
	border-radius: 2px;
	border: 1px solid #CCC;
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background-color: #DDD;
	
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

.button.big {
	padding: 20px;
	font-size: 1.2em;
}

.button.green {
	color: #FFF;
	border: 1px solid #0C0;
	background-color: #3D3;
}

.button.red {
	color: #FFF;
	border: 1px solid #C00;
	background-color: #D33;
}

.button.stretch { width: 100%; }
.button.green:hover { background-color: #0D0; border: 1px solid #090; }
.button.red:hover { background-color: #D00; border: 1px solid #900; }
.button:hover { background-color: #CCC; }
.note { display: none; }

#notification {
	position: fixed;
	top: 0px; left: 0px;
	z-index: 99;

	color: #FFF;
	font-size: 1.2em;
	padding: 15px 30px;
	
	min-width: 100px;
	text-align: center;

	border-radius: 30px;

	background-color: rgba(127, 127, 127, 0.8);
	display: none;
}


/* ==================== */
/* ====== STACKS ====== */
/* ==================== */

#stacks {
	margin-left: 0px;
	list-style: none;
	border-bottom: 0px;
}

#stacks li {
	color: #666;
	padding: 20px;
	margin: 10px 0px;

	border-left: 5px solid #BBB;
	box-shadow: inset 0px -2px #CCC;

	border-radius: 2px;
	background-color: #DDD;
	cursor: pointer;
}

#stacks li:hover {
	color: #333;
	background-color: #CCC;
	box-shadow: inset 0px -2px #BBB;
}

#stacks li .fa-arrow-right { float: right; color: #999; }
#stacks li:hover .fa-arrow-right { color: #666; }

#stacks li:first-child { margin-top: 0px; }
#stacks li:last-child { margin-bottom: 0px; }

#stacks li .count {
	float: right;
	font-size: 0.8em;
	margin-right: 10px;
}


/* =================== */
/* ====== STACK ====== */
/* =================== */

#flashcards {
	width: 100%;
	border-spacing: 0px;
	display: none;
	border: 5px solid #036;
}

#flashcards th {
	color: #FFF;
	background-color: #059;
	text-align: left;
	padding: 0px 20px;

	box-shadow: inset 0px 2px #09C;
	border-bottom: 5px solid #CCC;
}

#flashcards tr:last-child td {
	border-bottom: 0px;
}

#flashcards th:first-child,
#flashcards td:first-child {
	padding: 0px;
	text-align: center;
}

#flashcards th label {
	margin: 0px;
}

#flashcards td {
	color: #666;
	background-color: #EEE;
	padding: 10px 20px;
}

#flashcards tr:nth-child(odd) td {
	background-color: #F6F6F6;
}

#flashcards label { background: transparent; }

#page-stack .flashcard-actions-container {
	padding: 0px 50px 50px 50px;
}

#page-stack .flashcard-actions {
	width: 100%;
	table-layout: fixed;
	border: 5px solid #036;
	background-color: #036;
	border-top: 0px;
	border-spacing: 0px;
	display: none;
}

#page-stack .flashcard-actions td { padding: 0px 2px; }
#page-stack .flashcard-actions td:first-child { padding-left: 0px; }
#page-stack .flashcard-actions td:last-child { padding-right: 0px; }

#page-stack .flashcard-actions td .button {
	color: #FFF;
	border: 0px;

	border-top: 2px solid #09C;

	background-color: #059;
	box-shadow: none;
}

#page-stack .flashcard-actions td .button:hover {
	background-color: #09C;
	border-color: #0CF;
}

#page-stack .flashcard-actions td .button .fa { margin-right: 5px; }


/* ======================= */
/* ====== FLASHCARD ====== */
/* ======================= */

#flashcard {
	perspective: 500px;
	position: relative;
	width: 100%;
}

#flashcard-shadow {
	content: " ";

	margin-top: 10%;
	margin-left: 10%;
	
	width: 80%;
	height: 40px;

	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
}

#flashcard > div {

	color: #666;
	font-size: 3em;
	font-weight: bold;
	text-align: center;

	text-shadow: -1px  0px 0px #FFF,
			      1px  0px 0px #FFF,
			      0px -1px 0px #FFF,
			      0px  1px 0px #FFF,
			     -1px -1px 0px #FFF,
			      1px -1px 0px #FFF,
			     -1px  1px 0px #FFF,
			      1px  1px 0px #FFF;

	padding: 10% 10%;
	width: 80%;
	
	border: 1px solid #DDD;
	border-radius: 1px;

	background-color: #FFF; 
	background-image: 
		linear-gradient(90deg, transparent 50px, #abced4 50px, #abced4 60px, transparent 60px),
		linear-gradient(#F6F6F6 .1em, transparent .1em);
	background-size: 100% 0.8em;

	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	backface-visibility: hidden;
	display: table;
	cursor: pointer;
}

#flashcard span {
	display: table-cell;
	vertical-align: middle;
}

#flashcard .front {
	transform: rotateX(5deg);
}

#flashcard .back {
	position: absolute;
	top: 0px;
	transform: rotateX(180deg);
}

#page-flashcard-new textarea,
#page-flashcard-edit textarea {
	height: 4em;
	font-size: 2em;
	text-align: center;
	padding: 40px;
}

#practice-buttons {
	position: absolute;
	bottom: 0px; left: 0px;

	display: table;
	border-spacing: 1em;
	width: 100%;
	table-layout: fixed;
}

#practice-buttons .button {
	font-weight: bold;
	font-size: 1.5em;
	padding: 15px 0px;
	display: table-cell;
}


/* ====================== */
/* ====== SETTINGS ====== */
/* ====================== */

.button-import {
	position: relative;
	z-index: 0;
}

.button-import input {
	position: absolute;
	top: 0px; left: 0px;

	width: 100%;
	height: 100%;

	z-index: 1;
	opacity: 0;
}

#file-browser {
	margin: 0px;
	list-style: none;
}

#file-browser li {
	color: #666;
	background-color: #DDD;
	padding: 20px;
	cursor: pointer;

	border: 2px solid #CCC;
	border-top: 0px;
	box-shadow: inset 0px 2px #EEE;
}

#file-browser li:hover { background-color: #CCC; }
#file-browser li:first-child { margin-top: 0px; border-top: 2px solid #CCC; }
#file-browser li:last-child { margin-bottom: 0px; }

#page-file-browser .path {
	font-style: italic;
}

#page-stack-settings table {
	width: 100%;
	border-spacing: 0px;
	table-layout: fixed;
	text-align: center;
}

#page-stack-settings table .fa {
	color: #999;
	padding-bottom: 15px;
}

#page-stack-settings .languages {
	padding: 10px;
	width: 100%;
	height: 50px;
	font-weight: bold;
	color: #666;
	background-color: #FFF;
	border: 2px solid #E0E0E0;
	border-radius: 3px;
}

/* ================== */
/* ====== MISC ====== */
/* ================== */

.paypal-button {
	color: #0E3168;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	font-family: "Arial", bold, italic;
	
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	white-space: nowrap;
	overflow: hidden;
	
	padding: 4px 19px;
	border-radius: 13px;
	border: 1px solid #ffa823;
	background: #ffa823;
	cursor: pointer;

	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 0;
}

.paypal-button::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 11px;
	top: 0;
	left: 0;
	background: #ffa823;
	background-image: linear-gradient(180deg, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
	z-index: -2;
}

.paypal-button::after {
	content: " ";
	position: absolute;
	width: 98%;
	height: 60%;
	border-radius: 40px 40px 38px 38px;
	top: 0;
	left: 0;
	background-image: linear-gradient(180deg, #fefefe 0%, #fed994 100%);
	z-index: -1;
	transform: translateX(1%);
}


/* =========================== */
/* ====== MEDIA QUERIES ====== */
/* =========================== */

@media only screen and (orientation : portrait) and (max-width : 600px) {

	html, body {
		height: auto;
		min-height: auto;
		background-color: #EEE;
		background-image: none;
	}

	html[data-page=page-practice],
	html[data-page=page-practice] body { height: 100%; }

	html[data-page=page-practice] .content { background-color: transparent; }
	html[data-page=page-stack] hr { display: none; }

	hr { margin: 10px 0px 20px 0px; }

	.menubar .actions { display: none; }
	.menubar .button-android-menu { display: block; }
	.menubar .action .title { display: inline; }
	.menubar .button-android-menu:hover { background-color: transparent; }

	.menubar .actions.android-menu {
		position: fixed;
		right: 10%; bottom: 0px;
		z-index: 99;

		width: 80%;
		display: block;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	.menubar .actions.android-menu .action {
		color: #666;
		font-size: 1em;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
		width: 100%;
		height: auto;

		float: none;
		padding: 15px 20px;
		margin: 0px;
		border-radius: 0px;
		background-color: #F9F9F9;
		border-top: 1px solid #FFF;
		border-bottom: 1px solid #EEE;
		
		box-sizing: border-box;
	}

	.menubar .actions.android-menu .action:hover { background-color: #FFF; }
	.menubar .actions.android-menu .action:first-child { border-radius: 2px 2px 0px 0px; }
	.menubar .actions.android-menu .action .fa {
		font-size: inherit;
		margin-right: 0.5em;
	}

	.button.big { padding: 15px 10px; }

	.tabs .fa { font-size: 1.4em; }
	.tab-name { display: none; }

	.content  {
		font-size: 0.9em;
		padding: 30px;
	}

	.stack-name {
		width: 100%;
		text-align: center;

		margin: 0.5em 0px 1em 0px;
		padding-bottom: 0.8em;
		border-bottom: 2px solid #DDD;
	}

	.button-practice,
	.flashcard-update,
	.flashcard-add {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	#flashcards {
		border-left: 0px;
		border-right: 0px;
	}

	#flashcard > div { font-size: 2em; }

	#page-stack .flashcard-actions {
		border-left: 0px;
		border-right: 0px;
	}

	#flashcards,
	#page-stack .flashcard-actions { border-spacing: 0px; }
	#page-stack .flashcard-actions-container { padding: 0px; }
	
	#page-stack .flashcard-actions td {
		float: left;
		width: 100%;
		padding: 2.5px 0px;
	}

	#page-stack .flashcard-actions td:first-child { padding-top: 0px; }
	#page-stack .flashcard-actions td:last-child { padding-bottom: 0px; }
	#stacks .count { display: none; }
}