<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "de.elias_schuett.flashcards"
		version   = "1.2.5">

	<name>Flashcards</name>
	<description>A simple flashcard application for android and web browsers.</description>
	<author href="http://elias-schuett.de" email="dev@elias-schuett.de">Elias Schütt</author>

	<gap:platform name="android" />

	<feature name="File">
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>

	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
	</feature>

	<feature name="FileTransfer">
		<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>

	<feature name="InAppBrowser">
		<param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	</feature>

	<feature name="SpeechSynthesis">
		<param name="android-package" value="org.apache.cordova.speech.SpeechSynthesis"/>
	</feature>

	<preference name="permissions"                  value="none"     />
	<preference name="android-installLocation"      value="auto"     /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="android-minSdkVersion"        value="7"        /> <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
	<preference name="phonegap-version"             value="3.3.0"    /> <!-- all: current version of PhoneGap -->
	<preference name="orientation"                  value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
	<preference name="target-device"                value="tablet"   /> <!-- all: possible values handset, tablet, or universal -->
	<preference name="fullscreen"                   value="false"    /> <!-- all: hides the status bar at the top of the screen -->
	<preference name="android-targetSdkVersion"     value="19"       />
	<preference name="LoadUrlTimeoutValue"          value="60000"    />
	<preference name="KeepRunning"                  value="true"     />
	<preference name="splash-screen-duration"       value="0"        />
	<preference name="android-windowSoftInputMode"  value="adjustResize" />

	<access origin="*" />
	<content src="index.html" />
</widget>
