@import "font-awesome";

* { margin: 0px; padding: 0px; }
*:focus { outline: none; }

html {
	background-color: #000;
	overflow-y: scroll;
	height: 100%;
	font-size: 16px;
}

#bg {
	background-color: #013;
	overflow-y: scroll;
	height: 100%;
	font-size: 16px;

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

body {
	font-family: sans-serif-light, Roboto, "Segoe UI", sans-serif;

	background-color: #F6F6F6;
	margin: 0px auto;

	min-height: 100%;
	max-width: 800px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	background-image:
	linear-gradient(45deg, rgba(0, 0, 0, 0.02) 30%, transparent 10%, transparent),
	linear-gradient(60deg, rgba(0, 0, 0, 0.02) 30%, transparent 10%, transparent);
	background-position: left top;
	background-repeat: no-repeat;
}


/* =================== */
/* ====== PAGES ====== */
/* =================== */

.page { display: none; }

html.page-practice .page > .content,
html.page-quiz .page > .content {
	padding-top: 15%;
}

html.page-practice body {
	background-image: linear-gradient(0deg, #123, #222);
	position: relative;
}

html.page-about body {
	position: relative;
}

html.page-quiz {
	#bg {
		background-image: url("../img/bg-quiz.jpg");
	}

	body {
		background-image: none;
		background-color: transparent;
	}

	.menubar {
		border-radius: 0px 0px 0.3125em 0.3125em;
		background-color: rgba(255,255,255,0.3);
		border-bottom: 0.125em solid rgba(255,255,255,0.3);

		.action {
			background-color: rgba(0,0,0,0.2);
			border-bottom: 0.125em solid rgba(0,0,0,0.1);
		}

		.title {
			text-shadow: 0px 0px 0.125em rgba(0, 0, 0, 0.5);
		}
	}
}

html.page-stacks body {
	background-color: #CCC;
}

html.page-search .page > .content,
html.page-stack .page > .content {
	padding-bottom: 0px;
}

html.page-practice .page > .content,
html.page-quiz .page > .content {
	background: transparent;
}

html.page-statistics h1 {
	text-align: left;
}

html.page-statistics .content {
	text-align: center;
}


/* =========================== */
/* ====== SPLASH SCREEN ====== */
/* =========================== */

#splash-screen {
	width: 100%;
	height: 100%;
	
	position: fixed;
	left: 0px; top: 0px;
	z-index: 99;

	background-color: #F6F6F6;
	background-image: url("../img/splash-screen.png");
	background-position: center 40%;
	background-repeat: no-repeat;
	background-size: 256px;
}


/* ===================== */
/* ====== MENUBAR ====== */
/* ===================== */

.menubar {
	color: #FFF;
	height: 5em;
	background-color: #059;
	display: table;
	width: 100%;
	border-bottom: 0.125em solid #000;
}

.menubar .logo {
	margin-top: 0.9375em;
	margin-left: 0.9375em;
	height: 3.125em;
}

.menubar > .title {
	color: #FFF;
	text-shadow: 0px 0px 0.3125em rgba(0, 0, 0, 0.5);
	font-size: 2em;
	font-weight: 300;

	position: relative;
	top: -0.3125em; left: 0.625em;
}

.menubar .actions {
	display: inline-block;
	float: right;
}

.menubar .action {
	color: #FFF;
	text-align: center;
	text-decoration: none;

	width: 1.875em;
	height: 1.875em;

	padding: 0.9375em;
	margin-top: 0.625em;
	margin-right: 0.625em;

	border-radius: 0.125em;
	background-color: #024;
	border-bottom: 0.125em solid #07A;

	float: right;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.menubar .action:hover { background-color: #013; }
.menubar .action .title { display: none; }

.menubar .button-android-menu {
	background-color: transparent;
	border: 0px;
	display: none;
}

/* ================== */
/* ====== TABS ====== */
/* ================== */

.tabs {
	display: table;
	text-align: center;
	width: 100%;
	table-layout: fixed;
	position: relative;
	z-index: 3;
}

.tabs .fa { margin-right: 0.3125em; }

.tabs .tab {
	color: #999;
	font-weight: 300;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1.5em;

	background-color: #111;
	border-bottom: 0.3125em solid #999;
	cursor: pointer;
	text-decoration: none;
}

.tabs .tab:hover {
	color: #CCC;
}

.tabs .tab.active {
	color: #FFF;
	border-bottom-color: #09C;
}


/* ===================== */
/* ====== CONTENT ====== */
/* ===================== */

.page > .content {
	color: #333;
	padding: 3.125em;
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin-bottom: .5em;
}

a { color: #000; }
ul { margin-left: 1.25em; }
li { padding-bottom: 0.3125em; }

hr {
	height: 0px;
	border: 0px;
	border-bottom: 0.125em solid #DDD;
	margin: 0.625em 0px 2.5em 0px;
	clear: both;
}

hr.transparent {
	height: 0.625em;
	border: 0px;
}

label {
	color: #666;
	text-shadow: 0px 1px #E9E9E9;
	background-color: #E3E3E3;
	padding: 1.25em;
	display: block;
	margin-bottom: 0.625em;
	position: relative;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 0.3125em;
}

label:hover { background-color: #DDD; }

label span::before {
	color: inherit;
	font-family: FontAwesome;
	content: "\f096";
	width: 1em;
	margin-right: 0.5em;
	display: inline-block;
	text-align: center;
}

label input { display: none; }
label input:checked + span::before {
	content: "\f046";
	margin-left: 0.125em;
	width: 0.875em;
}

textarea {
	color: #666;
	font-family: inherit;

	width: 100%;
	padding: 0.625em;
	border: 0px;
	
	box-sizing: border-box;
	background-color: #FAFAFA;
	resize: none;
}

.button {
	color: #333;
	font-weight: bold;;
	text-align: center;
	padding: 0.625em 1.25em;
	
	border-radius: 0.125em;
	border: 0.0625em solid #CCC;
	border-bottom: 0.0625em solid #999;
	box-shadow: 0px 0.0625em 0.1875em rgba(0, 0, 0, 0.2);
	background-color: #DDD;
	
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

a.button { text-decoration: none; }

.button.big {
	padding: 1.25em;
	font-size: 1.2em;
}

.button.green {
	color: #FFF;
	border: 0.0625em solid #0C0;
	background-color: #3D3;
}

.button.red {
	color: #FFF;
	border: 0.0625em solid #C00;
	background-color: #D33;
}

.button.stretch { width: 100%; }
.button.green:hover { background-color: #0D0; border: 0.0625em solid #090; }
.button.red:hover { background-color: #D00; border: 0.0625em solid #900; }
.button:hover { background-color: #CCC; }
.note, .loading { display: none; }

#dialog {
	position: fixed;
	top: 0px; left: 0px;

	width: 70%;

	color: #333;
	font-size: 1em;

	border-radius: 0.2em;
	background-color: #FFF;
	display: none;

	z-index: 99;
	display: none;

	border: 0.3125em solid #CCC;
}

#dialog .close {
	text-shadow: 0px 1px #FFF;
	position: absolute;
	right: 0.9em;
	top: 0.70em;
	font-size: 1.5em;
	color: #999;
	display: inline-block;
	cursor: pointer;
}


#dialog .title {
	color: #666;
	padding: 1.25em;
	font-weight: bold;

	border-radius: 0.125em;
	background-color: #EEE;
	cursor: pointer;

	background-image: linear-gradient(45deg, #F6F6F6 40%, transparent 10%, transparent);
	background-position: right top;
	background-repeat: no-repeat;
}

#dialog .content {
	color: #666;
	padding: 1em;
	overflow-y: auto;
	max-height: 20em;
	border-radius: 0px 0px 0.125em 0.125em;
}

#dialog .content hr {
	border: 0px;
	height: 0px;
	border-bottom: 1px solid #EEE;
	margin: 2em 0px;
}

#dialog input[type=text] {
	color: #666;
	font-size: inherit;
	width: 100%;
	padding: 1em;
	border: 0px;
	background-color: #F6F6F6;
	box-sizing: border-box;
}

#dialog select {
	color: #666;
	font-size: inherit;
	width: 100%;
	padding: 1em;
	background-color: #EEE;
	border: 1px solid #CCC;
	box-sizing: border-box;
	-webkit-appearance: listbox;
}

#dialog .buttons {
	border-top: 0.3125em solid #CCC;
	background-color: #CCC;
	overflow: hidden;
	display: none;
}

#dialog .buttons input {
	color: #999;
	text-shadow: 0px 1px #FFF;
	width: 49.5%;
	padding: 1em;
	font-size: inherit;

	border: 0px;
	border-top: 0.125em solid #F9F9F9;

	background-color: #EEE;
	box-shadow: none;
	box-sizing: border-box;
}

#dialog .buttons input:last-child { float: right; }

#dialog-modal {
	position: fixed;
	top: 0px; left: 0px;
	z-index: 98;
	content: " ";

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#notification {
	position: fixed;
	top: 0px; left: 0px;
	z-index: 99;

	color: #FFF;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	font-size: 1em;
	padding: 1em 1.3em;
	
	min-width: 6.25em;
	text-align: center;

	border-radius: 1.875em;

	background-color: rgba(127, 127, 127, 0.8);
	display: none;
	pointer-events: none;
}

.tts {
	margin-top: 15%;
	top: 3em;
	right: 1em;
	background-color: #FFF;
	border-radius: 50%;
	padding: 0.5em;
	color: #000;
	cursor: pointer;
	opacity: 0.2;
}

.tts:hover { opacity: 0.4; }

/* ==================== */
/* ====== STACKS ====== */
/* ==================== */

#stacks {
	margin-left: 0px;
	list-style: none;
	border-bottom: 0px;
}

#stacks > li {
	margin: 0.5em 0px;
}

#stacks > li .category {
	color: #999;
	padding: 1.25em;
	font-weight: bold;

	border-radius: 0.125em;
	background-color: #EEE;
	cursor: pointer;

	background-image: linear-gradient(45deg, #F6F6F6 40%, transparent 10%, transparent);
	background-position: right top;
	background-repeat: no-repeat;
}

#stacks > li .count {
	color: #888;
} 

#stacks > li > ul {
	display: none;
	list-style: none;
	margin: 0px;
	background-color: #F6F6F6;
	border-radius: 0px 0px 0.125em 0.125em;
}

#stacks > li .category .fa-caret-right {
	width: 1.5em;
	font-size: 1.2em;
}

#stacks > li.expand .category .fa-caret-right::before {
	content: "\f0d7";
}

#stacks > li.expand .category {
	border-radius: 0.125em 0.125em 0px 0px;
}

#stacks > li.expand > ul {
	display: block;
	padding: 0.5em;
}

#stacks > li.expand > ul > li {
	color: #999;
	background-color: #FFF;
	padding: 1.25em;
	cursor: pointer;
}

#stacks > li.expand > ul > li:first-child { border-radius: 0.125em 0.125em 0px 0px; }
#stacks > li.expand > ul > li:last-child { border-radius: 0px 0px 0.125em 0.125em; }

#stacks > li.expand > ul > li:nth-child(even) {
	background-color: #FCFCFC;
}

#stacks > li.expand > ul > li:hover {
	color: #FFF;
	background-color: #CCC;
}

#stacks > li:first-child { margin-top: 0px; }
#stacks > li:last-child { margin-bottom: 0px; }

#stacks > li.expand > ul > li:hover .count { color: inherit; }
#stacks > li.expand > ul > li:hover .fa-arrow-right { color: inherit; }
#stacks > li.expand > ul > li:last-child { border-bottom: 0px; }
#stacks > li.expand > ul > li .fa-arrow-right { float: right; color: #999; }

#stacks li .count {
	float: right;
	font-size: 0.8em;
	margin-right: 0.625em;
}

.stack-buttons,
.view-all { display: none; }


/* =================== */
/* ====== STACK ====== */
/* =================== */

#page-stack .stack-name { text-align: center; }

.stack-buttons {
	width: 100%;
	margin-bottom: 0.5em;
}


.sort-flashcards {
	text-align: center;
	display: none;

	select {
		color: #6699cc;
		font-size: 0.7em;
		font-weight: bold;
		text-align: center;

		padding: 0.8em;
		border: 0px;

		border-radius: 3px 3px 0px 0px;
		background-color: #002266;

		box-sizing: border-box;
		-webkit-appearance: listbox;
	}
}

.flashcards {
	width: 100%;
	border-spacing: 0.3125em;
	table-layout: fixed;
	background-color: #026;
	display: none;
}

.flashcards > tbody td {
	color: #69C;
	background-color: #037;
	padding: 1.5em;
	cursor: pointer;
}

.flashcards > tbody td:first-child { text-align: right; padding-right: 1em; }
.flashcards > tbody td:last-child { padding-left: 1em; }

.flashcards > tbody td:first-child .score { float: left; }
.flashcards > tbody td:last-child .score { float: right; }

.flashcards > tbody tr.selected td {
	color: #9CF !important;
	background-color: #259 !important;
}

.flashcards input[type=search] {
	color: #999;
	font-size: inherit;
	font-style: italic;

	height: 100%;
	width: 100%;
	padding: 1.5em 1.5em 1.5em 3.5em;
	text-align: center;
	
	border: 0px;
	background-color: #F8F8F8;
	box-sizing: border-box;
	display: block;
}

.flashcards .search-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.flashcards .search-wrapper::before {
	position: absolute;
	top: 0.8em; left: 0.8em;
	z-index: 98;
	font-size: 1.5em;
	font-weight: normal;

	color: #CCC;
	content: "\f002";
	font-family: "FontAwesome";
	display: inline-block;
}

.flashcard-actions {
	width: 100%;
	table-layout: fixed;
	background-color: #026;
	border-spacing: 0.3125em;
}

.flashcard-actions td .button {
	color: #9CF;
	border: 0px;
	border-top: 0.125em solid #26A;
	background-color: #048;
	border-radius: 1px;
	box-shadow: none;
}

.flashcard-actions td .button:hover {
	border-color: #48C;
	background-color: #26A;
}

.flashcard-actions td .button .fa { margin-right: 0.3125em; }


/* ======================= */
/* ====== FLASHCARD ====== */
/* ======================= */

#flashcard {
	perspective: 31.25em;
	position: relative;
	width: 100%;
	font-family: Roboto, "Segoe UI", sans-serif;
}

#flashcard-shadow {
	content: " ";

	margin-top: 10%;
	margin-left: 10%;
	
	width: 80%;
	height: 2.5em;

	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
}

#flashcard > div {

	font-size: 3em;
	width: 100%;
	
	border: 0.0625em solid #DDD;
	border-radius: 0.0625em;

	background-color: #FFF; 
	background-image: 
	linear-gradient(90deg, transparent 1em, #abced4 1em, #abced4 1.2em, transparent 1.2em),
	linear-gradient(#F6F6F6 .1em, transparent .1em);

	background-size: 100% 0.8em;
	box-shadow: 0px 0.125em 0.3125em rgba(0, 0, 0, 0.1);
	backface-visibility: hidden;

	display: table;
	cursor: pointer;
}

#flashcard span {

	color: #666;
	padding: 10% 10%;
	font-weight: bold;
	text-align: center;

	text-shadow:  -0.0625em 0px 0px #FFF,
			      0.0625em 0px 0px #FFF,
			      0px -0.0625em 0px #FFF,
			      0px 0.0625em 0px #FFF,
			      -0.0625em -0.0625em 0px #FFF,
			      0.0625em -0.0625em 0px #FFF,
			      -0.0625em 0.0625em 0px #FFF,
			      0.0625em 0.0625em 0px #FFF;

	display: table-cell;
	vertical-align: middle;
}

#flashcard .front {
	transform: rotateX(5deg);
}

#flashcard .back {
	position: absolute;
	top: 0px;
	transform: rotateX(180deg);
}

#page-flashcard-new textarea,
#page-flashcard-edit textarea {
	font-size: 2em;
	text-align: center;
	padding: 1.5em 1em 0em 1em;
	height: auto;
	height: 4em;
	background-color: #FFF;
}

#page-flashcard-new input[name=tags],
#page-flashcard-edit input[name=tags] {
	color: #666;
	font-size: inherit;
	width: 100%;
	padding: 1em;
	border: 0px;
	background-color: #FFF;
	box-sizing: border-box;
}


#practice-buttons {
	position: absolute;
	bottom: 0px; left: 0px;

	display: table;
	border-spacing: 1em;
	width: 100%;
	table-layout: fixed;
}

#practice-buttons .button {
	font-size: 3em;
	padding: 0.3125em 0px;
	border-radius: 0.05em;
	border-width: 0px;
	font-weight: normal;
	display: table-cell;
}

#practice-buttons .button.green { color: #EFE; }
#practice-buttons .button.red { color: #FEE; }

#quiz {
	width: 100%;
	border-spacing: 1em;
	table-layout: fixed;
	background-color: rgba(255, 255, 255, 0.5);
}

#quiz td {
	color: #666;
	text-align: center;
}

.quiz-question {
	font-size: 2em;
	padding: 1em 0em !important;

	background-image:
	linear-gradient(10deg, rgba(0, 0, 0, 0.02) 30%, transparent 10%, transparent),
	linear-gradient(35deg, rgba(0, 0, 0, 0.02) 30%, transparent 10%, transparent);
	background-position: left top;
	background-repeat: no-repeat;

	background-color: #F6F6F6;
	text-shadow: 0px 1px #FFF;
	font-weight: bold;
}

.quiz-answer {
	color: #333;
	padding: 2.2em 2em 1.8em 2em;
	font-style: 1.5em;
	background-color: #EEE;
	text-shadow: 0px 1px #F6F6F6;
	cursor: pointer;
}

.quiz-answer.correct {
	color: #FFF !important;
	text-shadow: none;
	background-color: #3D3;
}

.quiz-answer.false {
	color: #FFF !important;
	text-shadow: none;
	background-color: #D33;

}

.stats {
	position: absolute;
	top: 6em;
	left: 1em;
	color: #666;
}

.score { color: #69C; }
.score.red { color: #C66; }
.score.green { color: #6C6; }

tr.selected .score { color: #9CF; }
tr.selected .score.red { color: #F66; }
tr.selected .score.green { color: #6F6; }

.flashcard-info-table { width: 100%; }
.flashcard-info-table th { text-align: left; }

#page-quiz .stats {
	color: #FFF;
	opacity: 0.5;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	position: static;
	padding-top: 5em;
	text-align: center;
}

/* ====================== */
/* ====== SETTINGS ====== */
/* ====================== */

.button-import {
	position: relative;
	z-index: 0;
}

.button-import input {
	position: absolute;
	top: 0px; left: 0px;

	width: 100%;
	height: 100%;

	z-index: 1;
	opacity: 0;
}

#file-browser {
	margin: 0px;
	list-style: none;
}

#file-browser li {
	color: #666;
	background-color: #DDD;
	padding: 1.25em;
	cursor: pointer;

	border: 0.125em solid #CCC;
	border-top: 0px;
	box-shadow: inset 0px 0.125em #EEE;
}

#file-browser li:hover { background-color: #CCC; }
#file-browser li:first-child { margin-top: 0px; border-top: 0.125em solid #CCC; }
#file-browser li:last-child { margin-bottom: 0px; }

#page-file-browser .path {
	font-style: italic;
}

#page-stack-settings table {
	width: 100%;
	border-spacing: 0px;
	table-layout: fixed;
	text-align: center;
}

#page-stack-settings table .fa {
	color: #999;
	padding-bottom: 0.9375em;
}

#page-stack-settings .languages {
	padding: 1em;
	width: 100%;
	font-weight: bold;
	color: #666;
	background-color: #FFF;
	border: 0.125em solid #E0E0E0;
	border-radius: 0.1875em;
	-webkit-appearance: listbox;
}

/* ================== */
/* ====== MISC ====== */
/* ================== */

table.help { width: 100%; }
table.help th { text-align: left; padding-bottom: 1em; }
table.help td { padding-bottom: 1em; }

.paypal-button {
	color: #0E3168;
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	font-family: "Arial", bold, italic;
	
	text-shadow: 0 0.0625em 0 rgba(255,255,255,.5);
	white-space: nowrap;
	overflow: hidden;
	
	padding: 0.3em 2em;
	border-radius: 0.8125em;
	border: 0.0625em solid #ffa823;
	background: #ffa823;
	cursor: pointer;
	border: 0.125em solid #ffa823;

	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 0;
}

.paypal-button::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.6875em;
	top: 0;
	left: 0;
	background: #ffa823;
	background-image: linear-gradient(180deg, #FFAA00 0%,#FFAA00 80%,#FFF8FC 100%);
	z-index: -2;
}

.paypal-button::after {
	content: " ";
	position: absolute;
	width: 98%;
	height: 60%;
	border-radius: 2.5em 2.5em 38px 38px;
	top: 0;
	left: 0;
	background-image: linear-gradient(180deg, #fefefe 0%, #fed994 100%);
	z-index: -1;
	transform: translateX(1%);
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.version {
	color: #999;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

/* =========================== */
/* ====== MEDIA QUERIES ====== */
/* =========================== */

@media only screen and (min-width : 600px) and (-webkit-min-device-pixel-ratio: 2.0) {
	html {
		font-size: 80%;
	}
}

@media only screen and (max-width : 800px) and (-webkit-max-device-pixel-ratio: 1.5) {
	html {
		background-image: none;
	}
}

@media only screen and (max-width : 810px) and (-webkit-max-device-pixel-ratio: 1.5) {
	html.page-quiz .menubar {
		border-radius: 0px;
	}
}

@media only screen and (max-width : 600px) and (-webkit-max-device-pixel-ratio: 1.5) {

	html {
		font-size: 80%;
	}

	html.page-practice,
	html.page-practice body { height: 100%; }

	html.page-practice .page > .content { background-color: transparent; }
	html.page-stack hr { display: none; }

	hr { margin: 0.625em 0px 1.25em 0px; }

	.menubar .actions { display: none; }
	.menubar .button-android-menu { display: block; }
	.menubar .action .title { display: inline; }
	.menubar .button-android-menu:hover { background-color: transparent; }

	.menubar .actions.android-menu {
		position: fixed;
		right: 10%; bottom: 0px;
		z-index: 99;

		width: 80%;
		display: block;
		box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.1);
	}

	.menubar .actions.android-menu .action {
		color: #666;
		font-size: 1.2em;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
		width: 100%;
		height: auto;

		float: none;
		padding: 1.2em;
		margin: 0px;
		border-radius: 0px;
		background-color: #F9F9F9;
		border-top: 0.0625em solid #FFF;
		border-bottom: 0.0625em solid #EEE;
		
		box-sizing: border-box;
	}

	.menubar .actions.android-menu .action:hover { background-color: #FFF; }
	.menubar .actions.android-menu .action:first-child { border-radius: 0.125em 0.125em 0px 0px; }
	.menubar .actions.android-menu .action .fa {
		font-size: inherit;
		margin-right: 0.5em;
	}

	.button.big { padding: 0.9375em 0.625em; }

	.tabs .fa { font-size: 1.4em; }
	.tab-name { display: none; }

	.page > .content  {
		font-size: 0.9em;
		padding: 1.875em;
	}

	#page-stack .stack-name {
		width: 100%;
		text-align: center;

		margin: 0.5em 0px 1em 0px;
		padding-bottom: 0.8em;
		border-bottom: 0.125em solid #DDD;
	}

	.stack-buttons td:first-child { padding-left: 1em; }
	.stack-buttons td:last-child { padding-right: 1em; }

	.flashcard-update,
	.flashcard-add {
		float: none;
		width: 100%;
		margin-bottom: 1.25em;
	}

	.flashcard-actions {
		border-left: 0px;
		border-right: 0px;
	}

	.flashcard-actions { border-spacing: 0px; }
	.flashcard-actions-container { padding: 0px; }
	
	.flashcard-actions td {
		padding: 0.15625em 0px;
		display: block;
		width: 100%;
	}

	#flashcard > div { font-size: 2em; }
	#stacks .count { display: none; }
}